In [99]:
#reload source files automatically
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [100]:
import pandas as pd

from event_clustering.preprocessing import *

# Loading Preprocessing Analyzing

In [39]:
file_name = 'DomesticDeclarations'
df = preprocess(load('data/' + file_name + '.xes'))
original_df_columns = df.columns

In [40]:
analyze(df)
df.head(10)

column name: case:Amount
data type: <class 'numpy.float64'>
unique values: 8326


column name: case:BudgetNumber
data type: <class 'str'>
unique values: 1


column name: case:DeclarationNumber
data type: <class 'str'>
unique values: 10049


column name: case:concept:name
data type: <class 'str'>
unique values: 10500


column name: case:id
data type: <class 'str'>
unique values: 10500


column name: concept:name
data type: <class 'str'>
unique values: 17


column name: id
data type: <class 'str'>
unique values: 56437


column name: org:resource
data type: <class 'str'>
unique values: 2


column name: org:role
data type: <class 'str'>
unique values: 7


column name: time:timestamp
data type: <class 'datetime.datetime'>
unique values: 45403


min case length: 1
max case length: 24
mean case length: 5.374952380952381

,case:Amount,case:BudgetNumber,case:DeclarationNumber,case:concept:name,case:id,concept:name,id,org:resource,org:role,time:timestamp
0,26.851205,budget 86566,declaration number 86792,declaration 86791,declaration 86791,Declaration SUBMITTED by EMPLOYEE,st_step 86794_0,STAFF MEMBER,EMPLOYEE,2017-01-09 09:49:50+01:00
1,182.464172,budget 86566,declaration number 86796,declaration 86795,declaration 86795,Declaration SUBMITTED by EMPLOYEE,st_step 86798_0,STAFF MEMBER,EMPLOYEE,2017-01-09 10:26:14+01:00
2,320.646137,budget 86566,declaration number 86801,declaration 86800,declaration 86800,Declaration SUBMITTED by EMPLOYEE,st_step 86804_0,STAFF MEMBER,EMPLOYEE,2017-01-09 11:13:33+01:00
3,113.862047,budget 86566,declaration number 86732,declaration 86731,declaration 86731,Declaration SUBMITTED by EMPLOYEE,st_step 86733_0,STAFF MEMBER,EMPLOYEE,2017-01-09 11:24:20+01:00
4,26.851205,budget 86566,declaration number 86792,declaration 86791,declaration 86791,Declaration FINAL_APPROVED by SUPERVISOR,st_step 86793_0,STAFF MEMBER,SUPERVISOR,2017-01-09 11:27:48+01:00
5,134.404169,budget 86566,declaration number 86736,declaration 86735,declaration 86735,Declaration SUBMITTED by EMPLOYEE,st_step 86738_0,STAFF MEMBER,EMPLOYEE,2017-01-09 11:30:26+01:00
6,134.404169,budget 86566,declaration number 86736,declaration 86735,declaration 86735,Declaration FINAL_APPROVED by SUPERVISOR,st_step 86737_0,STAFF MEMBER,SUPERVISOR,2017-01-09 11:37:18+01:00
7,113.862047,budget 86566,declaration number 86732,declaration 86731,declaration 86731,Declaration FINAL_APPROVED by SUPERVISOR,st_step 86734_0,STAFF MEMBER,SUPERVISOR,2017-01-09 11:37:23+01:00
8,443.585163,budget 86566,declaration number 86806,declaration 86805,declaration 86805,Declaration SUBMITTED by EMPLOYEE,st_step 86807_0,STAFF MEMBER,EMPLOYEE,2017-01-09 11:40:47+01:00
9,443.585163,budget 86566,declaration number 86806,declaration 86805,declaration 86805,Declaration FINAL_APPROVED by SUPERVISOR,st_step 86808_0,STAFF MEMBER,SUPERVISOR,2017-01-09 11:41:23+01:00

In [97]:
# Todo column name mapping

# Feature Generation

In [41]:
add_event_type_representative(df)

In [ ]:
add_event_ref(df, 1)
add_event_ref(df, -1)
determine_event_position(df)

In [116]:
add_timestamp_features(df)

In [117]:
df

,case:Amount,case:BudgetNumber,case:DeclarationNumber,case:concept:name,case:id,concept:name,id,org:resource,org:role,time:timestamp,...,feature_pos_beginning,feature_pos_middle,feature_pos_end,feature_day_nr,feature_weekday,feature_hour,feature_time_00-06,feature_time_07-12,feature_time_13-18,feature_time_19-24
0,26.851205,budget 86566,declaration number 86792,declaration 86791,declaration 86791,Declaration SUBMITTED by EMPLOYEE,st_step 86794_0,STAFF MEMBER,EMPLOYEE,2017-01-09 09:49:50+01:00,...,1,0,0,0,0,9,0,1,0,0
1,182.464172,budget 86566,declaration number 86796,declaration 86795,declaration 86795,Declaration SUBMITTED by EMPLOYEE,st_step 86798_0,STAFF MEMBER,EMPLOYEE,2017-01-09 10:26:14+01:00,...,1,0,0,0,0,10,0,1,0,0
2,320.646137,budget 86566,declaration number 86801,declaration 86800,declaration 86800,Declaration SUBMITTED by EMPLOYEE,st_step 86804_0,STAFF MEMBER,EMPLOYEE,2017-01-09 11:13:33+01:00,...,1,0,0,0,0,11,0,1,0,0
3,113.862047,budget 86566,declaration number 86732,declaration 86731,declaration 86731,Declaration SUBMITTED by EMPLOYEE,st_step 86733_0,STAFF MEMBER,EMPLOYEE,2017-01-09 11:24:20+01:00,...,1,0,0,0,0,11,0,1,0,0
4,26.851205,budget 86566,declaration number 86792,declaration 86791,declaration 86791,Declaration FINAL_APPROVED by SUPERVISOR,st_step 86793_0,STAFF MEMBER,SUPERVISOR,2017-01-09 11:27:48+01:00,...,0,1,0,0,0,11,0,1,0,0
5,134.404169,budget 86566,declaration number 86736,declaration 86735,declaration 86735,Declaration SUBMITTED by EMPLOYEE,st_step 86738_0,STAFF MEMBER,EMPLOYEE,2017-01-09 11:30:26+01:00,...,1,0,0,0,0,11,0,1,0,0
6,134.404169,budget 86566,declaration number 86736,declaration 86735,declaration 86735,Declaration FINAL_APPROVED by SUPERVISOR,st_step 86737_0,STAFF MEMBER,SUPERVISOR,2017-01-09 11:37:18+01:00,...,0,1,0,0,0,11,0,1,0,0
7,113.862047,budget 86566,declaration number 86732,declaration 86731,declaration 86731,Declaration FINAL_APPROVED by SUPERVISOR,st_step 86734_0,STAFF MEMBER,SUPERVISOR,2017-01-09 11:37:23+01:00,...,0,1,0,0,0,11,0,1,0,0
8,443.585163,budget 86566,declaration number 86806,declaration 86805,declaration 86805,Declaration SUBMITTED by EMPLOYEE,st_step 86807_0,STAFF MEMBER,EMPLOYEE,2017-01-09 11:40:47+01:00,...,1,0,0,0,0,11,0,1,0,0
9,443.585163,budget 86566,declaration number 86806,declaration 86805,declaration 86805,Declaration FINAL_APPROVED by SUPERVISOR,st_step 86808_0,STAFF MEMBER,SUPERVISOR,2017-01-09 11:41:23+01:00,...,0,1,0,0,0,11,0,1,0,0
10,333.440910,budget 86566,declaration number 86810,declaration 86809,declaration 86809,Declaration SUBMITTED by EMPLOYEE,st_step 86814_0,STAFF MEMBER,EMPLOYEE,2017-01-09 12:14:36+01:00,...,1,0,0,0,0,12,0,1,0,0
11,333.440910,budget 86566,declaration number 86810,declaration 86809,declaration 86809,Declaration FINAL_APPROVED by SUPERVISOR,st_step 86813_0,STAFF MEMBER,SUPERVISOR,2017-01-09 12:14:49+01:00,...,0,1,0,0,0,12,0,1,0,0
12,29.951678,budget 86566,declaration number 86817,declaration 86816,declaration 86816,Declaration SUBMITTED by EMPLOYEE,st_step 86819_0,STAFF MEMBER,EMPLOYEE,2017-01-09 14:51:44+01:00,...,1,0,0,0,0,14,0,0,1,0
13,29.951678,budget 86566,declaration number 86817,declaration 86816,declaration 86816,Declaration FINAL_APPROVED by SUPERVISOR,st_step 86818_0,STAFF MEMBER,SUPERVISOR,2017-01-09 14:52:05+01:00,...,0,1,0,0,0,14,0,0,1,0
14,22.765521,budget 86566,declaration number 86717,declaration 86716,declaration 86716,Declaration SUBMITTED by EMPLOYEE,st_step 86719_0,STAFF MEMBER,EMPLOYEE,2017-01-09 15:10:05+01:00,...,1,0,0,0,0,15,0,0,1,0
15,22.765521,budget 86566,declaration number 86717,declaration 86716,declaration 86716,Declaration FINAL_APPROVED by SUPERVISOR,st_step 86718_0,STAFF MEMBER,SUPERVISOR,2017-01-09 15:11:23+01:00,...,0,1,0,0,0,15,0,0,1,0
16,105.604074,budget 86566,declaration number 86721,declaration 86720,declaration 86720,Declaration SUBMITTED by EMPLOYEE,st_step 86728_0,STAFF MEMBER,EMPLOYEE,2017-01-09 15:57:21+01:00,...,1,0,0,0,0,15,0,0,1,0
17,105.604074,budget 86566,declaration number 86721,declaration 86720,declaration 86720,Declaration FINAL_APPROVED by SUPERVISOR,st_step 86729_0,STAFF MEMBER,SUPERVISOR,2017-01-09 15:57:24+01:00,...,0,1,0,0,0,15,0,0,1,0
18,26.851205,budget 86566,declaration number 86792,declaration 86791,declaration 86791,Request Payment,dd_declaration 86791_19,SYSTEM,UNDEFINED,2017-01-10 09:34:44+01:00,...,0,1,0,0,1,9,0,1,0,0
19,79.192885,budget 86566,declaration number 86821,declaration 86820,declaration 86820,Declaration SUBMITTED by EMPLOYEE,st_step 86822_0,STAFF MEMBER,EMPLOYEE,2017-01-10 10:04:52+01:00,...,1,0,0,1,1,10,0,1,0,0
20,79.192885,budget 86566,declaration number 86821,declaration 86820,declaration 86820,Declaration FINAL_APPROVED by SUPERVISOR,st_step 86823_0,STAFF MEMBER,SUPERVISOR,2017-01-10 10:05:02+01:00,...,0,1,0,1,1,10,0,1,0,0
21,190.426972,budget 86566,declaration number 86825,declaration 86824,declaration 86824,Declaration SUBMITTED by EMPLOYEE,st_step 86827_0,STAFF MEMBER,EMPLOYEE,2017-01-10 10:52:07+01:00,...,1,0,0,1,1,10,0,1,0,0
22,26.525496,budget 86566,declaration number 86829,declaration 86828,declaration 86828,Declaration SUBMITTED by EMPLOYEE,st_step 86831_0,STAFF MEMBER,EMPLOYEE,2017-01-10 11:46:39+01:00,...,1,0,0,1,1,11,0,1,0,0
23,26.525496,budget 86566,declaration number 86829,declaration 86828,declaration 86828,Declaration FINAL_APPROVED by SUPERVISOR,st_step 86830_0,STAFF MEMBER,SUPERVISOR,2017-01-10 11:46:45+01:00,...,0,1,0,1,1,11,0,1,0,0
24,77.611636,budget 86566,declaration number 86740,declaration 86739,declaration 86739,Declaration SUBMITTED by EMPLOYEE,st_step 86744_0,STAFF MEMBER,EMPLOYEE,2017-01-10 11:50:59+01:00,...,1,0,0,1,1,11,0,1,0,0
25,77.611636,budget 86566,declaration number 86740,declaration 86739,declaration 86739,Declaration FINAL_APPROVED by SUPERVISOR,st_step 86743_0,STAFF MEMBER,SUPERVISOR,2017-01-10 11:51:02+01:00,...,0,1,0,1,1,11,0,1,0,0
26,158.503658,budget 86566,declaration number 86747,declaration 86746,declaration 86746,Declaration SUBMITTED by EMPLOYEE,st_step 86748_0,STAFF MEMBER,EMPLOYEE,2017-01-10 12:55:00+01:00,...,1,0,0,1,1,12,0,1,0,0
27,158.503658,budget 86566,declaration number 86747,declaration 86746,declaration 86746,Declaration FINAL_APPROVED by SUPERVISOR,st_step 86749_0,STAFF MEMBER,SUPERVISOR,2017-01-10 12:55:11+01:00,...,0,1,0,1,1,12,0,1,0,0
28,105.604074,budget 86566,declaration number 86721,declaration 86720,declaration 86720,Declaration REJECTED by MISSING,st_step 86730_0,STAFF MEMBER,MISSING,2017-01-10 13:08:27+01:00,...,0,1,0,1,1,13,0,0,1,0
29,0.000000,budget 86566,UNKNOWN,declaration 86750,declaration 86750,Declaration SAVED by EMPLOYEE,st_step 86751_0,STAFF MEMBER,EMPLOYEE,2017-01-10 13:41:35+01:00,...,1,0,1,1,1,13,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56407,5.802689,budget 86566,declaration number 138283,declaration 138282,declaration 138282,Payment Handled,dd_declaration 138282_20,SYSTEM,UNDEFINED,2019-02-14 17:31:41+01:00,...,0,0,1,766,3,17,0,0,1,0
56408,14.465836,budget 86566,declaration number 132876,declaration 132875,declaration 132875,Payment Handled,dd_declaration 132875_20,SYSTEM,UNDEFINED,2019-02-14 17:31:41+01:00,...,0,0,1,766,3,17,0,0,1,0
56409,1.991264,budget 86566,declaration number 140313,declaration 140312,declaration 140312,Payment Handled,dd_declaration 140312_20,SYSTEM,UNDEFINED,2019-02-14 17:31:41+01:00,...,0,0,1,766,3,17,0,0,1,0
56410,27.485088,budget 86566,declaration number 132871,declaration 132870,declaration 132870,Payment Handled,dd_declaration 132870_20,SYSTEM,UNDEFINED,2019-02-14 17:31:41+01:00,...,0,0,1,766,3,17,0,0,1,0
56411,8.208493,budget 86566,declaration number 139260,declaration 139259,declaration 139259,Request Payment,dd_declaration 139259_19,SYSTEM,UNDEFINED,2019-02-15 15:30:23+01:00,...,0,1,0,767,4,15,0,0,1,0
56412,69.067815,budget 86566,declaration number 143025,declaration 143024,declaration 143024,Payment Handled,dd_declaration 143024_20,SYSTEM,UNDEFINED,2019-02-18 17:31:16+01:00,...,0,0,1,770,0,17,0,0,1,0
56413,8.208493,budget 86566,declaration number 139260,declaration 139259,declaration 139259,Payment Handled,dd_declaration 139259_20,SYSTEM,UNDEFINED,2019-02-18 17:31:16+01:00,...,0,0,1,770,0,17,0,0,1,0
56414,14.102087,budget 86566,declaration number 141429,declaration 141428,declaration 141428,Payment Handled,dd_declaration 141428_20,SYSTEM,UNDEFINED,2019-02-18 17:31:16+01:00,...,0,0,1,770,0,17,0,0,1,0
56415,87.321339,budget 86566,declaration number 129450,declaration 129449,declaration 129449,Request Payment,dd_declaration 129449_19,SYSTEM,UNDEFINED,2019-02-19 08:57:10+01:00,...,0,1,0,770,1,8,0,1,0,0
56416,87.321339,budget 86566,declaration number 129450,declaration 129449,declaration 129449,Payment Handled,dd_declaration 129449_20,SYSTEM,UNDEFINED,2019-02-21 17:30:57+01:00,...,0,0,1,773,3,17,0,0,1,0
56417,32.316140,budget 86566,declaration number 132200,declaration 132199,declaration 132199,Payment Handled,dd_declaration 132199_20,SYSTEM,UNDEFINED,2019-02-21 17:30:57+01:00,...,0,0,1,773,3,17,0,0,1,0
56418,135.893510,budget 86566,declaration number 130963,declaration 130962,declaration 130962,Payment Handled,dd_declaration 130962_20,SYSTEM,UNDEFINED,2019-02-21 17:30:57+01:00,...,0,0,1,773,3,17,0,0,1,0
56419,589.065359,budget 86566,declaration number 140891,declaration 140890,declaration 140890,Declaration APPROVED by ADMINISTRATION,st_step 140893_0,STAFF MEMBER,ADMINISTRATION,2019-02-25 11:01:22+01:00,...,0,1,0,777,0,11,0,1,0,0
56420,589.065359,budget 86566,declaration number 140891,declaration 140890,declaration 140890,Declaration FINAL_APPROVED by SUPERVISOR,st_step 140894_0,STAFF MEMBER,SUPERVISOR,2019-02-26 08:08:06+01:00,...,0,1,0,777,1,8,0,1,0,0
56421,589.065359,budget 86566,declaration number 140891,declaration 140890,declaration 140890,Request Payment,dd_declaration 140890_19,SYSTEM,UNDEFINED,2019-03-04 14:18:32+01:00,...,0,1,0,784,0,14,0,0,1,0
56422,589.065359,budget 86566,declaration number 140891,declaration 140890,declaration 140890,Payment Handled,dd_declaration 140890_20,SYSTEM,UNDEFINED,2019-03-07 17:31:34+01:00,...,0,0,1,787,3,17,0,0,1,0
56423,76.202717,budget 86566,declaration number 139873,declaration 139872,declaration 139872,Declaration APPROVED by ADMINISTRATION,st_step 139874_0,STAFF MEMBER,ADMINISTRATION,2019-03-29 09:32:39+01:00,...,0,1,0,808,4,9,0,1,0,0
56424,76.202717,budget 86566,declaration number 139873,declaration 139872,declaration 139872,Declaration FINAL_APPROVED by SUPERVISOR,st_step 139875_0,STAFF MEMBER,SUPERVISOR,2019-04-03 16:48:37+02:00,...,0,1,0,814,2,16,0,0,1,0
56425,76.202717,budget 86566,declaration number 139873,declaration 139872,declaration 139872,Request Payment,dd_declaration 139872_19,SYSTEM,UNDEFINED,2019-04-05 09:03:33+02:00,...,0,1,0,815,4,9,0,1,0,0
56426,0.000000,budget 86566,UNKNOWN,declaration 137894,declaration 137894,Declaration REJECTED by ADMINISTRATION,st_step 137895_0,STAFF MEMBER,ADMINISTRATION,2019-04-08 10:12:56+02:00,...,0,0,1,818,0,10,0,1,0,0
56427,76.202717,budget 86566,declaration number 139873,declaration 139872,declaration 139872,Payment Handled,dd_declaration 139872_20,SYSTEM,UNDEFINED,2019-04-08 17:31:18+02:00,...,0,0,1,819,0,17,0,0,1,0
56428,32.034635,budget 86566,declaration number 126247,declaration 126246,declaration 126246,Declaration APPROVED by ADMINISTRATION,st_step 126249_0,STAFF MEMBER,ADMINISTRATION,2019-04-10 09:46:07+02:00,...,0,1,0,820,2,9,0,1,0,0
56429,32.034635,budget 86566,declaration number 126247,declaration 126246,declaration 126246,Declaration FINAL_APPROVED by SUPERVISOR,st_step 126250_0,STAFF MEMBER,SUPERVISOR,2019-04-10 11:12:37+02:00,...,0,1,0,821,2,11,0,1,0,0
56430,32.034635,budget 86566,declaration number 126247,declaration 126246,declaration 126246,Request Payment,dd_declaration 126246_19,SYSTEM,UNDEFINED,2019-04-15 16:37:41+02:00,...,0,1,0,826,0,16,0,0,1,0
56431,32.034635,budget 86566,declaration number 126247,declaration 126246,declaration 126246,Payment Handled,dd_declaration 126246_20,SYSTEM,UNDEFINED,2019-04-18 17:31:09+02:00,...,0,0,1,829,3,17,0,0,1,0
56432,0.000000,budget 86566,UNKNOWN,declaration 100723,declaration 100723,Declaration REJECTED by ADMINISTRATION,st_step 100725_0,STAFF MEMBER,ADMINISTRATION,2019-04-22 23:04:55+02:00,...,0,0,1,833,0,23,0,0,0,1
56433,3.048020,budget 86566,declaration number 134593,declaration 134592,declaration 134592,Declaration APPROVED by ADMINISTRATION,st_step 134595_0,STAFF MEMBER,ADMINISTRATION,2019-06-12 11:36:41+02:00,...,0,1,0,884,2,11,0,1,0,0
56434,3.048020,budget 86566,declaration number 134593,declaration 134592,declaration 134592,Declaration FINAL_APPROVED by SUPERVISOR,st_step 134594_0,STAFF MEMBER,SUPERVISOR,2019-06-13 09:42:19+02:00,...,0,1,0,884,3,9,0,1,0,0
56435,3.048020,budget 86566,declaration number 134593,declaration 134592,declaration 134592,Request Payment,dd_declaration 134592_19,SYSTEM,UNDEFINED,2019-06-14 08:00:23+02:00,...,0,1,0,885,4,8,0,1,0,0
56436,3.048020,budget 86566,declaration number 134593,declaration 134592,declaration 134592,Payment Handled,dd_declaration 134592_20,SYSTEM,UNDEFINED,2019-06-17 17:30:58+02:00,...,0,0,1,889,0,17,0,0,1,0

In [101]:
df.to_csv('data/' + file_name +'_features.csv', index=False)

# Encoding

In [102]:
df = preprocess(pd.read_csv('data/' + file_name +'_features.csv'))

In [118]:
df_name = tfidf_encode(df, 'concept:name', TfidfVectorizer(stop_words = 'english'))
df_role = one_hot_encode(df, 'org:role')
df_event_position = df[['feature_pos_beginning', 'feature_pos_middle', 'feature_pos_end']]
df_time = binning(df, 'event_ref_time_1', 10)
df_time_of_day = df[['feature_time_00-06', 'feature_time_07-12', 'feature_time_13-18', 'feature_time_19-24']]

In [114]:
df_encoded = df_name
df_encoded = df_encoded.join(df_role)
df_encoded = df_encoded.join(df_event_position)
#df_encoded = df_encoded.join(df['feature_day_nr'])

In [115]:
# file_name_structure: [Dataset-name]_[Feature-groups]_encoded.csv
df_encoded.to_csv('data/' + file_name +'_name-role-position_encoded.csv', index=False)