In [1]:
#reload source files automatically
%load_ext autoreload
%autoreload 2

In [2]:
import pandas as pd

from event_clustering.preprocessing import *

/home/larissa/.local/lib/python3.7/site-packages/pandas/compat/__init__.py:117: UserWarning: Could not import the lzma module. Your installed Python is incomplete. Attempting to use lzma compression will result in a RuntimeError.
  warnings.warn(msg)

# Loading Preprocessing Analyzing

In [3]:
file_name = 'DomesticDeclarations'
df = preprocess(load('data/' + file_name + '.xes'))
original_df_columns = df.columns

In [4]:
analyze(df)
df.head(10)

column name: case:Amount
data type: <class 'numpy.float64'>
unique values: 8326


column name: case:BudgetNumber
data type: <class 'str'>
unique values: 1


column name: case:DeclarationNumber
data type: <class 'str'>
unique values: 10049


column name: case:concept:name
data type: <class 'str'>
unique values: 10500


column name: case:id
data type: <class 'str'>
unique values: 10500


column name: concept:name
data type: <class 'str'>
unique values: 17


column name: id
data type: <class 'str'>
unique values: 56437


column name: org:resource
data type: <class 'str'>
unique values: 2


column name: org:role
data type: <class 'str'>
unique values: 7


column name: time:timestamp
data type: <class 'datetime.datetime'>
unique values: 45403


min case length: 1
max case length: 24
mean case length: 5.374952380952381

,case:Amount,case:BudgetNumber,case:DeclarationNumber,case:concept:name,case:id,concept:name,id,org:resource,org:role,time:timestamp
0,26.851205,budget 86566,declaration number 86792,declaration 86791,declaration 86791,Declaration SUBMITTED by EMPLOYEE,st_step 86794_0,STAFF MEMBER,EMPLOYEE,2017-01-09 09:49:50+01:00
1,182.464172,budget 86566,declaration number 86796,declaration 86795,declaration 86795,Declaration SUBMITTED by EMPLOYEE,st_step 86798_0,STAFF MEMBER,EMPLOYEE,2017-01-09 10:26:14+01:00
2,320.646137,budget 86566,declaration number 86801,declaration 86800,declaration 86800,Declaration SUBMITTED by EMPLOYEE,st_step 86804_0,STAFF MEMBER,EMPLOYEE,2017-01-09 11:13:33+01:00
3,113.862047,budget 86566,declaration number 86732,declaration 86731,declaration 86731,Declaration SUBMITTED by EMPLOYEE,st_step 86733_0,STAFF MEMBER,EMPLOYEE,2017-01-09 11:24:20+01:00
4,26.851205,budget 86566,declaration number 86792,declaration 86791,declaration 86791,Declaration FINAL_APPROVED by SUPERVISOR,st_step 86793_0,STAFF MEMBER,SUPERVISOR,2017-01-09 11:27:48+01:00
5,134.404169,budget 86566,declaration number 86736,declaration 86735,declaration 86735,Declaration SUBMITTED by EMPLOYEE,st_step 86738_0,STAFF MEMBER,EMPLOYEE,2017-01-09 11:30:26+01:00
6,134.404169,budget 86566,declaration number 86736,declaration 86735,declaration 86735,Declaration FINAL_APPROVED by SUPERVISOR,st_step 86737_0,STAFF MEMBER,SUPERVISOR,2017-01-09 11:37:18+01:00
7,113.862047,budget 86566,declaration number 86732,declaration 86731,declaration 86731,Declaration FINAL_APPROVED by SUPERVISOR,st_step 86734_0,STAFF MEMBER,SUPERVISOR,2017-01-09 11:37:23+01:00
8,443.585163,budget 86566,declaration number 86806,declaration 86805,declaration 86805,Declaration SUBMITTED by EMPLOYEE,st_step 86807_0,STAFF MEMBER,EMPLOYEE,2017-01-09 11:40:47+01:00
9,443.585163,budget 86566,declaration number 86806,declaration 86805,declaration 86805,Declaration FINAL_APPROVED by SUPERVISOR,st_step 86808_0,STAFF MEMBER,SUPERVISOR,2017-01-09 11:41:23+01:00

In [97]:
# Todo column name mapping

# Feature Generation

In [5]:
add_event_type_representative(df)

In [11]:
add_event_ref(df, 1)
add_event_ref(df, -1)
determine_event_position(df)

Nr of cases 10500
2020-07-27 21:31:58.200845
10500Nr of cases 10500
2020-07-27 21:36:13.641350
10500

In [12]:
add_timestamp_features(df)

In [6]:
df

,case:Amount,case:BudgetNumber,case:DeclarationNumber,case:concept:name,case:id,concept:name,id,org:resource,org:role,time:timestamp,concept:name_representative
0,26.851205,budget 86566,declaration number 86792,declaration 86791,declaration 86791,Declaration SUBMITTED by EMPLOYEE,st_step 86794_0,STAFF MEMBER,EMPLOYEE,2017-01-09 09:49:50+01:00,A
1,182.464172,budget 86566,declaration number 86796,declaration 86795,declaration 86795,Declaration SUBMITTED by EMPLOYEE,st_step 86798_0,STAFF MEMBER,EMPLOYEE,2017-01-09 10:26:14+01:00,A
2,320.646137,budget 86566,declaration number 86801,declaration 86800,declaration 86800,Declaration SUBMITTED by EMPLOYEE,st_step 86804_0,STAFF MEMBER,EMPLOYEE,2017-01-09 11:13:33+01:00,A
3,113.862047,budget 86566,declaration number 86732,declaration 86731,declaration 86731,Declaration SUBMITTED by EMPLOYEE,st_step 86733_0,STAFF MEMBER,EMPLOYEE,2017-01-09 11:24:20+01:00,A
4,26.851205,budget 86566,declaration number 86792,declaration 86791,declaration 86791,Declaration FINAL_APPROVED by SUPERVISOR,st_step 86793_0,STAFF MEMBER,SUPERVISOR,2017-01-09 11:27:48+01:00,B
...,...,...,...,...,...,...,...,...,...,...,...
56432,0.000000,budget 86566,UNKNOWN,declaration 100723,declaration 100723,Declaration REJECTED by ADMINISTRATION,st_step 100725_0,STAFF MEMBER,ADMINISTRATION,2019-04-22 23:04:55+02:00,O
56433,3.048020,budget 86566,declaration number 134593,declaration 134592,declaration 134592,Declaration APPROVED by ADMINISTRATION,st_step 134595_0,STAFF MEMBER,ADMINISTRATION,2019-06-12 11:36:41+02:00,M
56434,3.048020,budget 86566,declaration number 134593,declaration 134592,declaration 134592,Declaration FINAL_APPROVED by SUPERVISOR,st_step 134594_0,STAFF MEMBER,SUPERVISOR,2019-06-13 09:42:19+02:00,B
56435,3.048020,budget 86566,declaration number 134593,declaration 134592,declaration 134592,Request Payment,dd_declaration 134592_19,SYSTEM,UNDEFINED,2019-06-14 08:00:23+02:00,C
56436,3.048020,budget 86566,declaration number 134593,declaration 134592,declaration 134592,Payment Handled,dd_declaration 134592_20,SYSTEM,UNDEFINED,2019-06-17 17:30:58+02:00,G

In [17]:
df.to_csv('data/' + file_name +'_features.csv', index=False)

# Encoding

In [102]:
df = preprocess(pd.read_csv('data/' + file_name +'_features.csv'))

In [7]:
df_name = tfidf_encode(df, 'concept:name', TfidfVectorizer(stop_words = 'english'))
df_role = one_hot_encode(df, 'org:role')
#df_event_position = df[['feature_pos_beginning', 'feature_pos_middle', 'feature_pos_end']]
#df_time = binning(df, 'event_ref_time_1', 10)
#df_time_of_day = df[['feature_time_00-06', 'feature_time_07-12', 'feature_time_13-18', 'feature_time_19-24']]

In [8]:
df_encoded = df_name
df_encoded = df_encoded.join(df_role)
#df_encoded = df_encoded.join(df_event_position)
#df_encoded = df_encoded.join(df['feature_day_nr'])

In [11]:
# file_name_structure: [Dataset-name]_[Feature-groups]_encoded.csv
df_encoded.to_csv('data/' + file_name +'_name-role_encoded.csv', index=False)

In [10]:
df_encoded

,concept:name_administration,concept:name_approved,concept:name_budget,concept:name_declaration,concept:name_employee,concept:name_final_approved,concept:name_for_approval,concept:name_handled,concept:name_missing,concept:name_owner,...,concept:name_saved,concept:name_submitted,concept:name_supervisor,org:role_ADMINISTRATION,org:role_BUDGET OWNER,org:role_EMPLOYEE,org:role_MISSING,org:role_PRE_APPROVER,org:role_SUPERVISOR,org:role_UNDEFINED
0,0.000000,0.000000,0.0,0.373627,0.63984,0.00000,0.0,0.000000,0.0,0.0,...,0.0,0.671571,0.000000,0.0,0.0,1.0,0.0,0.0,0.0,0.0
1,0.000000,0.000000,0.0,0.373627,0.63984,0.00000,0.0,0.000000,0.0,0.0,...,0.0,0.671571,0.000000,0.0,0.0,1.0,0.0,0.0,0.0,0.0
2,0.000000,0.000000,0.0,0.373627,0.63984,0.00000,0.0,0.000000,0.0,0.0,...,0.0,0.671571,0.000000,0.0,0.0,1.0,0.0,0.0,0.0,0.0
3,0.000000,0.000000,0.0,0.373627,0.63984,0.00000,0.0,0.000000,0.0,0.0,...,0.0,0.671571,0.000000,0.0,0.0,1.0,0.0,0.0,0.0,0.0
4,0.000000,0.000000,0.0,0.352467,0.00000,0.66522,0.0,0.000000,0.0,0.0,...,0.0,0.000000,0.658217,0.0,0.0,0.0,0.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56432,0.553720,0.000000,0.0,0.282846,0.00000,0.00000,0.0,0.000000,0.0,0.0,...,0.0,0.000000,0.000000,1.0,0.0,0.0,0.0,0.0,0.0,0.0
56433,0.691039,0.630764,0.0,0.352990,0.00000,0.00000,0.0,0.000000,0.0,0.0,...,0.0,0.000000,0.000000,1.0,0.0,0.0,0.0,0.0,0.0,0.0
56434,0.000000,0.000000,0.0,0.352467,0.00000,0.66522,0.0,0.000000,0.0,0.0,...,0.0,0.000000,0.658217,0.0,0.0,0.0,0.0,0.0,1.0,0.0
56435,0.000000,0.000000,0.0,0.000000,0.00000,0.00000,0.0,0.000000,0.0,0.0,...,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,1.0
56436,0.000000,0.000000,0.0,0.000000,0.00000,0.00000,0.0,0.801604,0.0,0.0,...,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,1.0