In [65]:
#reload source files automatically
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [66]:
import pandas as pd

from event_clustering.preprocessing import *

# Loading Preprocessing Analyzing

In [27]:
# change the column name map to suit your dataset
column_name_map = {
    'timestamp': 'time:timestamp',
    'caseid' : 'case:id',
    'eventname' : 'concept:name'   
}

In [45]:
df.groupby(['case:id']).groups['declaration 100015']

Int64Index([12269, 12270, 12428, 12570, 12761, 13122], dtype='int64')

In [28]:
file_name = 'DomesticDeclarations'
df = preprocess(load('data/' + file_name + '.xes'), column_name_map)
original_df_columns = df.columns

In [50]:
analyze(df, column_name_map, include_casetime=True)

column name: case:Amount
data type: <class 'numpy.float64'>
unique values: 8326


column name: case:BudgetNumber
data type: <class 'str'>
unique values: 1


column name: case:DeclarationNumber
data type: <class 'str'>
unique values: 10049


column name: case:concept:name
data type: <class 'str'>
unique values: 10500


column name: case:id
data type: <class 'str'>
unique values: 10500


column name: concept:name
data type: <class 'str'>
unique values: 17


column name: id
data type: <class 'str'>
unique values: 56437


column name: org:resource
data type: <class 'str'>
unique values: 2


column name: org:role
data type: <class 'str'>
unique values: 7


column name: time:timestamp
data type: <class 'datetime.datetime'>
unique values: 45403


column name: feature_time_since_start
data type: <class 'numpy.float64'>
unique values: 36478


min case length: 1
max case length: 24
mean case length: 5.374952380952381
Nr of cases 10500
2020-08-03 16:42:00.051689
10500min case duration seconds: 0.0
min case duration hours: 0.0
max case duration seconds: 40542018.0
max case duration hours: 11261.671666666667
mean case duration seconds: 995822.3790476191
mean case duration: hours276.6173275132275

In [30]:
df.head(10)

,case:Amount,case:BudgetNumber,case:DeclarationNumber,case:concept:name,case:id,concept:name,id,org:resource,org:role,time:timestamp
0,26.851205,budget 86566,declaration number 86792,declaration 86791,declaration 86791,Declaration SUBMITTED by EMPLOYEE,st_step 86794_0,STAFF MEMBER,EMPLOYEE,2017-01-09 09:49:50+01:00
1,182.464172,budget 86566,declaration number 86796,declaration 86795,declaration 86795,Declaration SUBMITTED by EMPLOYEE,st_step 86798_0,STAFF MEMBER,EMPLOYEE,2017-01-09 10:26:14+01:00
2,320.646137,budget 86566,declaration number 86801,declaration 86800,declaration 86800,Declaration SUBMITTED by EMPLOYEE,st_step 86804_0,STAFF MEMBER,EMPLOYEE,2017-01-09 11:13:33+01:00
3,113.862047,budget 86566,declaration number 86732,declaration 86731,declaration 86731,Declaration SUBMITTED by EMPLOYEE,st_step 86733_0,STAFF MEMBER,EMPLOYEE,2017-01-09 11:24:20+01:00
4,26.851205,budget 86566,declaration number 86792,declaration 86791,declaration 86791,Declaration FINAL_APPROVED by SUPERVISOR,st_step 86793_0,STAFF MEMBER,SUPERVISOR,2017-01-09 11:27:48+01:00
5,134.404169,budget 86566,declaration number 86736,declaration 86735,declaration 86735,Declaration SUBMITTED by EMPLOYEE,st_step 86738_0,STAFF MEMBER,EMPLOYEE,2017-01-09 11:30:26+01:00
6,134.404169,budget 86566,declaration number 86736,declaration 86735,declaration 86735,Declaration FINAL_APPROVED by SUPERVISOR,st_step 86737_0,STAFF MEMBER,SUPERVISOR,2017-01-09 11:37:18+01:00
7,113.862047,budget 86566,declaration number 86732,declaration 86731,declaration 86731,Declaration FINAL_APPROVED by SUPERVISOR,st_step 86734_0,STAFF MEMBER,SUPERVISOR,2017-01-09 11:37:23+01:00
8,443.585163,budget 86566,declaration number 86806,declaration 86805,declaration 86805,Declaration SUBMITTED by EMPLOYEE,st_step 86807_0,STAFF MEMBER,EMPLOYEE,2017-01-09 11:40:47+01:00
9,443.585163,budget 86566,declaration number 86806,declaration 86805,declaration 86805,Declaration FINAL_APPROVED by SUPERVISOR,st_step 86808_0,STAFF MEMBER,SUPERVISOR,2017-01-09 11:41:23+01:00

# Feature Generation

In [31]:
# uncomment the following lines if you want to add one hot encoded start, middle and end events

#add_neighbor_event(df, 1)
#add_neighbor_event(df, -1)
#determine_start_end_event_feature(df, column_name_map)

In [70]:
determine_time_frame_feature(df, column_name_map, start_window_length=3600, end_window_length=3600)

Nr of cases 10500
2020-08-03 17:32:46.106540
10500

In [54]:
add_timestamp_features(df, column_name_map)

In [ ]:
df.to_csv('data/' + file_name +'_features.csv', index=False)

# Encoding

In [ ]:
df = preprocess(pd.read_csv('data/' + file_name +'_features.csv'))

In [72]:
df_name = tfidf_encode(df, 'concept:name', TfidfVectorizer(stop_words = 'english'))
#df_act_name = tfidf_encode(df, 'activityNameEN', TfidfVectorizer(stop_words = 'english'))
#df_resource = one_hot_encode(df, 'org:resource')
#df_role = one_hot_encode(df, 'org:role')
#df_time_window = df[['feature_in_start_window', 'feature_in_end_window']]
#df_time = binning(df, 'feature_timedif_neighbor_event_', 10)
#df_time_of_day = df[filter_column_names(df, 'feature_time_')]

In [ ]:
df_encoded = df_name
#df_encoded = df_encoded.join(df_resource)
#df_encoded = df_encoded.join(df["case:SUMleges"].fillna(0))
#df_encoded = df_encoded.join(df_act_name)
#df_encoded = df_encoded.join(df_role)
#df_encoded = df_encoded.join(df_event_position)
#df_encoded = df_encoded.join(df_time)
#df_encoded = df_encoded.join(df['feature_day_nr'])
#df_encoded = df_encoded.join(df_time_of_day)

In [ ]:
# file_name_structure: [Dataset-name]_[Feature-groups]_encoded.csv
df_encoded.to_csv('data/' + file_name +'_name-cost-act-tod_encoded.csv', index=False)

In [ ]:
df_encoded.columns

In [ ]:
df_encoded